<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <p><h2> <span th:text="${response.name}" /> tu registro fue realizado de manera correcta</h2></p>

    <p><h3>Tira de materias cargadas para el curso <span th:text="${response.course}" />: </h3></p>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th> Materia </th>
            <th> Horas por semana </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${response.listClass.empty}">
            <td colspan="2"> No hay materias disponibles </td>
        </tr>
        <tr th:each="class : ${response.listClass}">
            <td><span th:text="${class.name}"></span></td>
            <td><span th:text="${class.hoursPerWeek}"></span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>